apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    password:
    user:
    database:
    basicAuth: false
    isDefault: true
    jsonData:
      timeInterval: 15s
    editable: true

  - name: Alertmanager
    type: alertmanager
    access: proxy
    orgId: 1
    url: http://alertmanager:9093
    password:
    user:
    database:
    basicAuth: false
    isDefault: false
    jsonData:
      implementation: prometheus
    editable: true
