apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: researchflow-production

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: orchestrator
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 5
    target:
      kind: Deployment
      name: worker
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: web
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 3
      - op: replace
        path: /spec/maxReplicas
        value: 20
    target:
      kind: HorizontalPodAutoscaler
      name: worker-hpa

configMapGenerator:
  - name: researchflow-config
    behavior: merge
    literals:
      - GOVERNANCE_MODE=LIVE
      - LOG_LEVEL=warn

images:
  - name: researchflow/orchestrator
    newTag: v1.0.0
  - name: researchflow/worker
    newTag: v1.0.0
  - name: researchflow/web
    newTag: v1.0.0
